<div class="col-md-9 col-xs-12">
                                                  <!--Estou passado o valor de item para uma variavel chamada menuItem-->  
  <mt-menu-item *ngFor="let item of menu | async" [menuItem]="item" (add)="addMenuItem($event)"></mt-menu-item>
                                                                    <!--Acesso o objeto que enviei, usando $event-->
</div>

<div class="col-md-3 col-xs-12">
  <!--INICIO DO CARRINHO-->
  <mt-shopping-cart></mt-shopping-cart>
  <!-- FIM DO CARRINHO -->
</div>